h2.trigger {
	padding: 3px;
	padding-left: 10px;
	position: relative;
	left: 10%;
	width: 85%;
	margin-bottom:  1px;
	margin-top: 1px;
	background: #ccc;
	font-size: 1em;
	font-weight: normal;
	float: center;
}
h2.trigger a {
	color: #000000;
	text-decoration: none;
	display: block;
}
h2.trigger a:hover {
	color: #990000;
	font-weight: bold;
}
h2.active {background-position: left bottom;}
.toggle_container {
	position: relative;
	left: 10%;
	right: 10%;
	width: 85%;
	padding: 3px;
	padding-left: 10px;
	border-top: 1px solid #d6d6d6;
	background: #f0f0f0 ;
	font-size: 1.2em;
	clear: both;
}

.toggle_container .block {
	padding: 5px;
}
.toggle_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}
.toggle_container h3 {
	font: 2.5em normal Georgia, "Times New Roman", Times, serif;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #ccc;
}
