div#container{
	width: 1000px;
	color: #000000;
	//background-color: #FFFFFF;
}

img { 
	padding: 0px; 
	margin: 0px; 
	border: none;
}

h1 {
	color: #000000;
	margin-top: 0px;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 1.5px;
	font: bold 1.5em Verdana;

}

h2 {
	color: #000000;
	font: italic 0.7em Verdana;
	padding: 3px;
	margin-top: 100px;
	background-color:#ffffff;
	border-width:1px 0px;
	border-style:solid;
	border-color:#CDC9C9;

}

h3 {
	color: #BE0802;
	margin-top: 0px;
	margin-left: 1.5px;
	margin-right: 1.5px;
	margin-bottom: 1.5px;
	padding: 0px 0px 0px 0px;
	font: bold 1em Verdana;
}

a {
	color: #0066CC;
	font-size: 1em;
}
a:hover {
	color: #990000;
}
.err {
	color: #FF9900;
}
th {
	font-weight: bold;
	text-align: left;
}

.introtxt {
	text-align:left;
	font-size:0.9em;
	font-weight:italic;
	padding-left: 2em;
	padding-top: 0.5em;
}

.introli {
	text-align:left;
	font-size:0.9em;
	font-weight:italic;
	padding-left: 2.5em;
	padding-top: 0.3em;
}

.tableform{
	border: thin solid gray;
	background-color:#EEE9E9;
	color: #000000;
	padding: 0.1em;

}

.tabhead{
	background-color: #7A8B8B;
	color: #FFCC00;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
	padding: 0.3em;
}

.sortable  {
	border: thin solid black;
	border-collapse: collapse;
}

.sortable thead a {
	text-decoration:underline;
	color:#FFCC00;
	font-size:1em;}
.sortable thead a:hover{
	color:#990000;
}
.sortable thead {
	border: thin solid black;
}
.sortable thead th,
.sortable tfoot th {
		text-align:center;
		color: #FFCC00;
		font-size:0.9em;
		background-color: #7A8B8B;
		border: thin dotted gray;
}

.sortable tfoot td {
	border-top: 1px solid black;
	text-align:center;

}

.sortable tfoot tr {
	background-color: #B4CDCD;
}
.sortable tbody td,
.sortable tbody tr {
	color: #000000;
	font-size:0.98em;
	border: thin dotted;
	border-color: #cccccc;
	border-collapse: collapse;
}

.sortable tbody td.small,
.sortable tbody tr.small {
	font-size:0.8em;
}
.sortable tbody a {text-decoration:underline; color:#0066CC; font-size:0.9em;}
.sortable tbody a:hover{color:#990000;}

.sortable tbody tr.odd,
.sortable tbody td.odd {
	background-color: #fde36c;
}


.sortable table.clean,
.sortable table.clean td.cl,
.sortable table.clean tr.cl {
	border: 0;
	border-collapse: collapse;
}

.sortable table.clean td.tinny {
	font-size:0.7em;
	border: 0;
	border-collapse: collapse;
}

.sortable td.numeric,
.sortable th.numeric {
	text-align: right;
	}


.tabsubhead{
	padding:0.3em;
	background-color:#B4CDCD;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
}


.tabsubsubhead{
	background-color:#D1EEEE;
	text-align:center;
	font-size:0.9em;
}

.tdformright{
	text-align:right;
	font-weight:bold;
} 

.tdformrightsmall{
	text-align:right;
	font-weight:bold;
	font-size:0.9em;
} 

.tdformleft{
	text-align:left;
	font-weight:bold;
} 

.tdformcenter{
	text-align: center;
	font-weight:bold;
} 

.tdformnotes{
	font-size:0.9em;
	color: #000000;

} 


.smalldescription {
	font-size:0.6em;
	border:none;
}

.dettable tbody td,
.dettable tbody tr {
	font-size:0.8em;
	border:none;
}

.tdicon{
	font-size:0.7em;
	color: #000000;

} 

.tdsmallbold{
	font-size:0.9em;
	font-weight:bold;
} 

.tdsmallboldright{
	font-size:0.9em;
	font-weight:bold;
	text-align:right;
	padding-right: 0.2em;

} 

.tdsmallboldleft{
	font-size:0.9em;
	font-weight:bold;
	text-align:left;
	padding-left: 0.2em;
} 

.tdsmallboldcenter{
	font-size:0.9em;
	font-weight:bold;
	text-align:center;
} 


.tablethinborder {
	border: thin dotted;
	border-color: #808080 ;
	border-collapse: collapse;
}

.tablethinborder a {text-decoration:underline; color:#0066CC;font-size:1.2em;}
.tablethinborder a:hover{color:#990000;}

.tablethinborder thead th {
		padding: 0.5em;
		border: thin dotted;
		text-align:center;
		color: #000000;
		font-size:1.1em;
		font-weight:bold;
		text-decoration:none;
	}

.tablethinborder thead th.small {
		padding: 1em;
		border: thin dotted;
		text-align:center;
		color: #000000;
		font-size:1em;
		font-weight:normal;
		text-decoration:none;
	}

.tablethinborder td {
	border: none;
	color: #000000;
	font-size:1em;
}

.tablethinborder td.small {
	font-size:0.7em;
}

.tablethinborder tr.clicked,
.tablethinborder th.clicked,
.tablethinborder td.clicked {
	background-color: #FFFAFA;
}


.tdthinborder {
	border: thin dotted;
	border-color: #808080 ;
	border-collapse: collapse;
	background-color:#F0F0F0;
}

.tdthinborder3 {
	border: thin dotted;
	border-collapse: collapse;
	font-size:0.8em;
}
.tdthinborder2 {
	border: thin dotted;
	border-color: #808080 ;
	border-collapse: collapse;
}

.tdsmalldescription {
	background-color:#FFFAFA;
	border: thin solid;
	border-color: #808080 ;
	border-collapse: collapse;
	font-size:0.9em;
}

.tdorangebg {
	background-color:#FFCC00;
	border: thin solid;
	border-color: #808080 ;
	border-collapse: collapse;
}

.erro{
	text-align: center;
	background-color:#ffcc00;
	font-size:1.2em;
	color:#254117;
	border: 1px solid gray;
	padding: 0.5em;
}

.success{
	width:90%;
	text-align: center;
	background-color:#0066CC;
	font-size:1.2em;
	color:#ffffff;
	border: 1px solid gray;
	padding: 0.5em;
}

.sucessosmall{
	width:90%;
	text-align: center;
	background-color:#0066CC;
	font-size:0.8em;
	color:#ffffff;
	border: 1px solid gray;
	padding: 0.3em;
}

.unitbox{
	width:5px;
}

/*buttons*/
.bsubmit{
font-size: 90%;
background-color:#990000;
color: white;
border: thin outset gray;
cursor: pointer;
padding: 0.1em;
}

.breset{
font-size: 90%;
background-color:#CCCC99;
color: black;
/*border: thin outset gray; */
cursor: pointer;
padding: 0.1em;
}

.bblue{
font-size: 90%;
background-color:#0066CC;
color: white;
border: thin outset gray;
cursor: pointer;
padding: 0.1em;
}

.imgicon{
	border: thin outset gray;
}

.borange{
font-size: 90%;
background-color:#FFCC00;
color: black;
border: thin outset gray;
cursor: pointer;
padding: 0.1em;
}

.toptext{
	color:#254117;
	font-size:1.2em;
	padding: 0.5em;
}

.orangebg{
	background-color: #FFCC00;
}

.ftpequena {
	font-size:0.8em;
}


.redtext{
	color: #990000;
}


.optselectdowlight{
	color: #0066CC;
	font-weight:bold;
	font-size:0.9em;
}

.optselectsmall{
	font-size:0.8em;
}

.optselectdowlight2{
	color: #0066CC;
	font-size:0.9em;
}

.optselectdowlight3{
	color: #7A8B8B;
	font-size:0.9em;
}

.selectedval {
	font-size:0.9em;
	color: #990000;
	font-weight:bold;
}

.selectorange{
	font-size:1.1em;
	background-color:#FFCC00;
	color: black;
}

.selectblue{
	font-size:1.1em;
	background-color:#7A8B8B;
	color: black;
}

.selectwhite{
	font-size:1.1em;
	background-color:#FFFFFF;
	color: black;
}
.myformtable,
.tabform {
	border: thin solid gray;
	background-color:#EEE9E9;
	color: #000000;
	padding: 0.4em;
	border-collapse: collapse;
}

.myformtable thead.subhead, tbody.subhead{
	padding:0.3em;
	background-color:#B4CDCD;
	text-align:center;
	font-size:1.1em;
	font-weight:bold;
}

.myformtable tbody.formhead{
	padding:0.3em;
	background-color:#B4CDCD;
	text-align:center;
	font-size:0.9em;
}

.myformtable tr.dottedborder,td.dottedborder{
	border: thin dotted;
	border-color: #808080 ;
	border-collapse: collapse;
	background-color:#F0F0F0;
	font-weight:bold;
}

.myformtable thead a {text-decoration:underline; color:#FFCC00; font-size:1em;}
.myformtable thead a:hover{color:#990000;}


.myformtable thead,
.trhead {
		text-align:center;
		color: #FFCC00;
		font-size:1.2em;
		font-weight:bold;
		background-color: #7A8B8B;
		border: thin solid gray;
	}

.myformtable thead tr.subhead,
.trsubhead {
		color: #000000;
		font-size:0.8em;
		background-color: #B4CDCD;
	}

.myformtable tbody tr, 
.myformtable tbody td {
	color: #000000;
}

.myformtable tbody tr.small, 
.myformtable tbody td.small{
	text-align:left;
	font-size:0.8em;
}

.myformtable tbody td.bold {
	font-weight:bold;
}

.myformtable tbody tr.center {
	text-align: center;	
}

.myformtable tfoot td,
.myformtable tfoot tr {
	text-align: center;
}

.myformtable tfoot td.small {
	font-size:0.8em;
	text-align: left;
}
.myformtable tbody tr.odd {
	background-color: #FFFAFA;
}

.scrolltable tbody td {
		font-size: 0.85em;
		padding-left: 3px;
		margin: auto;
		white-space: normal;
		border-right: 0.5px solid gray;
}

.scrolltable tbody td.small {
		border: 0;
}

.scrolltable thead th {
		text-align:center;
		font-size:1em;
		color: #FFCC00;
		background-color: #7A8B8B;
		padding: 4px;
		white-space: nowrap;
}

.scrolltable tbody th {
		font-size: 0.85em;
		padding: 3px;
		white-space: nowrap;
		border: thin solid gray;
}

.imagemultiple {
	font-size: 0.8em;
	width: 120px;
	height: 440px;
	overflow-y: auto;
	overflow-x: hidden;
	border: thin solid gray;	
	text-align: center;
}

.imagecontainer {
	overflow: hidden;
	height: 440px;
	width: 350px;
}

.imagemultipleright {
	font-size: 0.8em;
	width: 120px;
	height: 440px;
	overflow-y: auto;
	overflow-x: hidden;
	border: thin solid gray;	
	text-align: center;
}

.imagecontainerright {
	float: left;
	overflow: hidden;
	height: 440px;
	width: 350px;
}

#topanel {
        float: left;
        width: 100%;
		height: 20px;    
        padding-top: 5px;
        padding-bottom: 5px;
		margin-left: 8px;
}

#panel {
        float: left;
        width: 30%;
		height: 490px;    
        padding-top: 5px;
        padding-bottom: 5px;
		margin-left: 5px;
        border-width: thin;
        border-style: solid;
        border-color: #ccc #ccc #999 #ccc;
        -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
}

#mapcontainer {
        margin-left: 31%;
        /*margin-top: 30px;*/
  	    width: 600px;
  	    height: 492px;
        padding-left: 5px;
        padding-bottom: 5px;
        border-width: thin;
        border-style: solid;
        border-color: #ccc #ccc #999 #ccc;
        -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
      }


#txtHint {
	border-top: 1px solid #e0ecff;
	float: top;
    margin: 5px 5px 5px 5px;
    overflow: auto;
}

#mapbut {
	border-top: 1px solid #e0ecff;
	/*float: top; */
    margin: 5px 5px 5px 5px;
    overflow: auto;
}


#map {
      	padding: 5px;
        height: 490px;
}

/*div ids do popup de plot */
#topanelpop {
        position:absolute;
        top: 3px;
        width: 97%;
        padding: 5px;
        height: 55px;
        margin-bottom: 2px;
        border-style: solid;
        border-width: thin;
        border-color: #cccccc;
        background-color: #F0F8FF;
}

#mapleftpanel {
    position: absolute;
    width: 55%;
    top: 70px;
/*    border-style: solid;
    border-width: medium;
    border-color: purple;    */
    
}    
#mappopcontainer {
        padding: 5px;
}

#maprightpanel {
    position: absolute;
    width: 40%;
    top: 70px;
    right: 3%;
/*    border-style: solid;
    border-width: medium;
    border-color: yellow;   */
}

#mappoprigthlowerpanel {
        padding: 5px;
        margin-bottom: 2px;
/*        border-style: solid;
        border-width: thin;
        border-color: red;  */
}

#mappoprigthpanel {
        padding: 5px;
        margin-bottom: 2px;
/*        border-style: solid;
        border-width: thin;
        border-color: blue; */
}


#bottompanelpop {
        margin-top: 2px;
        padding: 5px;
/*        border-style: solid;
        border-width: thin;
        border-color: blue; */
}

#bottommapimgch {
		border-bottom: 1px solid #e0ecff;
	    margin: 5px 5px 5px 5px;
}