  #panel {
        float: left;
        width: 340;
        padding-top: 5px;
        padding-bottom: 5px;
		margin-left: 5px;
        border-width: thin;
        border-style: solid;
        border-color: #ccc #ccc #999 #ccc;
        -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
      }

      #map-container {
        margin-left: 350px;
  	    width: 655px;
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc #ccc #999 #ccc;
        -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
      }


      #map {
      	padding: 5px;
  	    width: 645px;
        height: 560px;
      }

      #markerlist {
	    border-top: 1px solid #e0ecff;
        height: 415px;
        margin: 5px 5px 5px 5px;
        overflow: auto;
      }
	
	   .topoflist {
       	 	margin: 5px 5px 5px 5px; 
       	 	padding: 5px;
        	font-size: 0.8em;
        	
		}
		
		
      .maptitle {
        border-bottom: 1px solid #e0ecff;
        overflow: hidden;
        cursor: pointer;
        padding-left: 2px;
        display: block;
        color: #000;
        text-decoration: none;
        padding-top: 3px;
		padding-bottom: 3px;
		font-size: 0.65em;
      }

	  .maptitleodd {
        border-bottom: 1px solid #e0ecff;
        overflow: hidden;
        cursor: pointer;
        padding-left: 2px;
        display: block;
        color: #000;
        text-decoration: none;
        padding-top: 3px;
		padding-bottom: 3px;
		font-size: 0.65em;
	  	background: #B4CDCD;
	  }
      .maptitle:visited,
      .maptitleodd:visited {
        color: #000000;
      }

      .maptitle:hover,
      .maptitleodd:hover {
        background: #FFCC00;
      }

      #timetaken {
        color: #000000;
        font-weight: bold;
      }

      .info {
        width: 300px;
        margin: 5px 5px 5 5px;
        font-size: 1em;
      }

      .info img {
        border: 0;
      }

      .info-body {
        text-align: left;
        overflow: hidden;
      }

	 .info-table {
       font-size: 0.85em;
      }
      
      .lgf {
	       font-size: 1.1em;
      }

      .info-img {
        height: 220px;
        width: 200px;
      }

	 #habitatmap {
        margin-left: 10px;
        margin-top: 25px;
  	    width: 800px;
  	    height:400px;
        padding: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc #ccc #999 #ccc;
        -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
      }

a,
a:visited,
a:link,
a:focus{
	color:#333;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:0.8em;
	text-decoration:none;
}

a:hover
{
	color:#990000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:0.8em;
	text-decoration:underline;
}